<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="main">

    <div class="blok1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem corporis debitis dolorem expedita fuga
        obcaecati omnis, velit! Alias cum ea fugit harum id nam numquam quae quasi velit, voluptatibus voluptatum!
    </div>
    <div class="blok2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem corporis debitis dolorem expedita fuga
        obcaecati omnis, velit! Alias cum ea fugit harum id nam numquam quae quasi velit, voluptatibus voluptatum!
    </div>
    <div class="blok3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem corporis debitis dolorem expedita fuga
        obcaecati omnis, velit! Alias cum ea fugit harum id nam numquam quae quasi velit, voluptatibus voluptatum!
    </div>
<h5>My name is : {{ name }}</h5>
</div>

</body>
</html>